.col {
    border: 0px solid;
}

#secao-inicial {
    background: url('images/YuworkHome.png');
    background-size: cover;
    padding-bottom: 10%;
}

#secao-inicial * {
    color: #fff;
    text-align: right
}

.container-fluid>.row {
    min-height: 100vh;
    padding: 2%;
}

.row span {
    color: rgb(38, 0, 255);
}

li {
    text-align: justify;
    list-style: none;
    display: inline-table;
    font-size: 20px;
}

ul {
    list-style: none;
}

.subtittle-pix {
    margin-left: 30px;
}

h4 {
    text-align: center;
}

.help-text {
    font-size: 20px;
    text-align: start;
    margin-top: 15px;
}

.pont-text {

    text-align: center;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 25px;
}

.sub-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#help {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

#help-mobile {
    display: none;
}

#display-pix {
    display: flex;
    justify-content: center;
}

.help-work {
    font-size: 16px;
    text-align: justify;
    width: 600px;
}

#mobile-pix {
    display: none;
}

.instant-img {
    height: auto;
    width: 90%;
}

.spi-funcionamento h4 {
    color: rgb(3 175 151);
    width: 400px;
    text-align: initial;
    font-size: 35px;
    margin-left: 220px;
    margin-top: 18px;
}

#sub-tittle-spi {
    color: rgb(3 175 151);
    width: 345px;
    font-size: 30px;
    text-align: center;
    margin-left: 135px;
    margin-top: 20px;
}

#img-pontos {
    height: 580px;
    width: 100%;
}

#evolution-mobile {
    display: none;
}

.possibilities p {
    text-align: center;
    font-size: 30px;
    margin-left: -20px;
    color: #33bdaa;
    height: 28px;
}

.img-pix {
    margin-top: 70px;
}

.pix-img {
    height: 300px;
    position: absolute;
    margin-top: 190px;
    margin-left: 490px;
}

.pix-foguete {
    height: 100px;
    position: absolute;
    margin-top: 230px;
    margin-left: 406px;
}

.pix-dolar {
    height: 100px;
    position: absolute;
    margin-top: 133px;
    margin-left: 503px;
}

.pix-porquinho {
    height: 100px;
    position: absolute;
    margin-top: 75px;
    margin-left: 650px;
}

.pix-atomo {
    height: 100px;
    position: absolute;
    margin-top: 140px;
    margin-left: 843px;
}

.pix-puzzle {
    height: 100px;
    position: absolute;
    margin-top: 250px;
    margin-left: 937px;
}

.pix-alavancar {
    text-align: end;
    width: 330px;
    position: absolute;
    margin-top: 341px;
    line-height: 23px;
    margin-left: 177px;
}

.pix-custo {
    text-align: end;
    width: 330px;
    position: absolute;
    margin-top: 131px;
    margin-left: 168px;
    line-height: 21px;
}

.pix-incentivar {
    width: 330px;
    position: absolute;
    margin-left: 710px;
    line-height: 20px;
}

.pix-promover {
    text-align: start;
    width: 330px;
    position: absolute;
    margin-top: 139px;
    margin-left: 945px;
    line-height: 18px;
}

.pix-preencher {
    width: 330px;
    position: absolute;
    margin-top: 365px;
    margin-left: 910px;
}

#img-cases {
    background: url(images/Cases.png);
    background-size: cover;
    padding-bottom: 20%;
    background-position: bottom;
}

.tittle-cases {
    position: absolute;
    color: #fff;
    text-align: center;
    margin-top: -350px;
    font-size: 70px;
}

.centro-cases {
    position: absolute;
    color: #fff;
    text-align: column;
    margin-top: -200px;
    font-size: 32px;
    margin-right: 100px;
}

.possibilities {
    justify-content: space-around;
    flex-direction: column-reverse;
}

.title-farmacia {
    padding-top: 50px;
}

.farm-cenary,
.farm-buy {
    background-color: rgb(52 189 173);
    height: 33vh;
    display: none;
}

.farm-cenary p,
.farm-buy p {
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.farm-cenary h4,
.farm-buy h4 {
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
    color: #fff;
}

.farm-cenary img {
    position: absolute;
    filter: invert(1);
    left: 200px;
    height: 40px;
    margin-top: 40px;
}

.farm-buy img {
    position: absolute;
    filter: invert(1);
    left: 1350px;
    height: 50px;
    margin-top: 40px;
}

#col-farm-drog {
    background: url(./images/FarmaciasDrogarias.png);
    background-size: cover;
    height: 33vh;
    background-position: center;
    display: none;
}

#farm-desktop {
    width: 100%;
}

#help h2 {
    font-size: 40px;
}

.title-banking {
    padding-top: 50px;
}

.banking-cenary,
.banking-buy {
    background-color: rgb(52 189 173);
    height: 33vh;
    display: none;
}

#banking-desktop {
    width: 100%;
}

#banking-img {
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    position: relative;
}

.banking-cenary p,
.banking-buy p {
    font-size: 15px;
    text-align: center;
    color: #fff;
}

.banking-cenary h4 {
    display: block;
    text-align: center;
    margin-top: 80px;
    font-size: 15px;
    color: #fff;
}

.banking-buy h4 {
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
    color: #fff;
}

.banking-cenary img {
    position: absolute;
    filter: invert(1);
    left: 200px;
    height: 40px;
    margin-top: 40px;
}

.banking-buy img {
    position: absolute;
    filter: invert(1);
    left: 1350px;
    height: 50px;
    margin-top: 40px;
}

#open-banking-container {
    background: url(./images/OpenBankigs.png);
    background-size: cover;
    height: 33vh;
    background-position: center;
    display: none;
}

#payments-container {
    /* background: url(./images/JornadaPixSemIniciador.png);
	background-size: cover; */
}

.text-payments {
    color: white;
    margin-bottom: -20px;
}

.text-payments h1 {
    font-size: 60px;
    position: absolute;
    margin-top: -350px;
}

#payments-container-2 {
    /* background: url(./images/JornadaPagamentos.png);
	background-size: cover;
	height: 100vh; */
}

#payments-container-3 {
    /* background: url(./images/JornadaComIniciador.png);
	background-size: cover;
	height: 100vh; */
}

#payments-container-4 {
    /* background: url(./images/JornadaEcommerce.png);
	background-size: cover;
	height: 100vh; */
}

#payments-container-5 {
    /* background: url(./images/JornadaPagamentosCommerce.png);
	background-size: cover;
	height: 100vh; */
}

#payments-container-6 {
    /* background: url(./images/jornadaprestador.jpg);
	background-size: cover; */
    /* height: 100vh; */
}

.img-payments {
    height: 700px;
    width: 1550px;
    margin-left: -42px
}

.subtittle-payments {
    position: absolute;
    margin-top: -120px;
}

.obs-payments {
    position: absolute;
    margin-top: -80px;
}

.tittle-spi h2 {
    text-align: center;
    height: 50px;
    font-size: 50px;
}

#calendar-mobile {
    display: none;
}

.tittle-calendar {
    text-align: center;
    width: 50%;
    position: absolute;
    margin-left: 220px;
}

.calendar-number {
    border: 5px solid;
    height: 75px;
    width: 70%;
    text-align: center;
    border-radius: 100%;
    font-size: 30px;
    margin-top: 30px;
}

.calendar-number h2 {
    margin-top: 12px;
}

#calendar-one {
    border-color: #0f489d;
}

#calendar-two {
    border-color: #0a92ed;
}

#calendar-three {
    border-color: #0aa6ed;
}

#calendar-number-list {
    margin-top: 210px;
    margin-left: 140px;
}

#calendar-text-list {
    margin-top: 210px;
}

.calendar-text {
    margin-top: 40px;
    margin-left: -40px;
    line-height: 20px;
    width: 50%;
}

#team-mobile {
    display: none;
}

#desenvolvedores {
    margin-left: 800px;
}

#thanks-mobile {
    display: none;
}

@media screen and (min-width: 575px) and (max-width: 820px) {
    .title-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
        margin-bottom: 25px;
        margin-left: 88px;
    }

    #spi-text {
        width: 100%;
    }

    #calendar-desktop {
        display: block;
    }

    #calendar-mobile {
        display: none;
    }

    #team-desktop {
        display: block;
    }

    .row.background-team {
        min-height: auto;
    }

    #section-desktop {
        display: block;
    }

    #team-mobile {
        display: none;
        width: 100%;
    }

    #evolution-desktop {
        display: block;
    }

    #evolution-mobile {
        display: none;
    }

    #evolution-height {
        min-height: auto;
    }

    #help-desktop {
        display: block;
    }

    #help-mobile {
        display: none;
    }

    #spi-apresent {
        width: 100%;
    }

    .title-section {
        margin-left: 0;
    }

    .pix-img {
        display: none;
    }

    #img-pontos {
        width: 100%;
        height: auto;
    }

    #lista-de-pontos-positivos li * {
        position: relative;
        margin: unset;
        text-align: center;
        width: 100%;
    }

    ul#lista-de-pontos-positivos li {
        display: block;
        text-align: center;
        padding: 30px;
    }

    #desktop-pix {
        display: block;
    }

    #mobile-pix {
        display: none;
    }

    #display-pix {
        min-height: auto;
    }

    #lista-de-pontos-positivos li img {
        height: auto;
        width: 20%;
    }

    #lista-de-pontos-positivos li h6 {
        font-size: 1.9em;
    }

    #lista-de-pontos-positivos li>div p {
        font-size: 20px;
    }

    #tittle-pix {
        flex: auto;
        height: auto !important;
    }

    ul#lista-de-pontos-positivos {
        padding: 0;
    }

    * {
        word-break: break-all;
    }

    .img-pix {
        margin-top: 70px;
        display: none;
    }

    #cell-pix {
        display: none;
    }

    .pixline {
        position: absolute;
        height: 370px;
        margin-left: 50px;
        margin-top: -26px;
        display: none;
    }

    .subtittle-pix {
        text-align: center;
    }

    #possibilidade-one {
        margin-top: 10px;
        width: 100%;
        flex: auto;
    }

    #possibilidade-two {
        margin-top: 0px;
        width: 100%;
    }

    .possibilities p {
        text-align: center;
        font-size: 30px;
        color: #33bdaa;
        height: 28px;
    }

    #secao-inicial .col-4 {
        width: 100%;
        margin-bottom: -5% !important;
    }

    .help-work {
        width: 100%;
    }

    #help {
        background: none;
        display: inline !important;
    }

    #yuwork-help {
        width: 100%;
    }

    #agenda-evolutiva li * {
        position: relative;
        margin: unset;
        text-align: center;
        width: 100%;
    }

    ul#agenda-evolutiva li {
        display: block;
        text-align: center;
        padding: 30px;
        border: 3px dashed #34bdad;
    }

    #agenda-img {
        display: none;
    }

    #banking {
        position: relative !important;
    }

    #agenda-evolutiva li h6 {
        font-size: 1.3em;
    }

    #agenda-evolutiva li p {
        font-size: 0.8em;
    }

    #img-cases {
        background: url(images/Cases.png);
        background-size: cover;
        padding-bottom: 7%;
        justify-content: start !important;
    }

    .tittle-cases {
        position: relative;
        color: #fff;
        text-align: start;
        margin-top: 0;
        font-size: 65px;

    }

    #cases-box-text {
        width: 73%;
    }

    .centro-cases {
        position: relative;
        color: #fff;
        width: 80%;
        margin-top: 0;
        font-size: 20px;
        margin-right: 0;
    }

    .farm-cenary,
    .farm-buy {
        width: 100%;
        display: block;
    }

    #farm-desktop {
        display: none;
    }

    .farm-drog {
        display: inline;
    }

    .farm-cenary img {
        position: relative;
        filter: invert(1);
        height: 75px;
        margin-top: 40px;
        left: 45%;
    }

    .farm-cenary h4,
    .farm-buy h4 {
        text-align: center;
        margin-top: 17px;
        font-size: 30px;
        color: #fff;
    }

    .farm-cenary p,
    .farm-buy p {
        font-size: 26px;
        text-align: center;
        color: #fff;
    }

    img.seta-direita {
        display: none;
    }

    img.seta-esquerda {
        display: none;
    }

    #col-farm-drog {
        width: 100%;
        display: block;
    }

    .farm-buy img {
        position: relative;
        filter: invert(1) !important;
        height: 75px;
        bottom: 0;
        left: 45%;
    }

    .banking-cenary,
    .banking-buy {
        width: 100%;
        display: block;
        height: 36vh;
    }

    #open-banking-container {
        width: 100%;
        display: block;
    }

    #banking-desktop {
        display: none;
    }

    #text-banking {
        flex: auto !important;
    }

    .banking-cenary p,
    .banking-buy p {
        font-size: 26px;
        text-align: center;
        color: #fff;
    }

    div#text-baking {
        display: grid !important;
    }

    .banking-cenary img {
        position: relative;
        filter: invert(1);
        height: 75px;
        margin-top: 40px;
        left: 45%;
    }

    .banking-buy img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 75px;
        margin-top: 40px;
    }

    .banking-cenary h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 35px;
        color: #fff;
    }

    .banking-buy h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 35px;
        color: #fff;
    }

    .subtittle-payments {
        position: relative;
        margin-top: 0;
        color: black;
        width: 90%;
    }

    .obs-payments {
        position: relative;
        margin-top: 0;
        color: black;
    }

    .img-payments {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    .text-payments {
        width: 100%;
    }

    #payments-container {
        display: block;
        min-height: auto;
    }

    #payments-container-2 {
        display: block;
        min-height: auto;
    }

    #payments-container-3 {
        display: block;
        min-height: auto;
    }

    #payments-container-4 {
        display: block;
        min-height: auto;
    }

    #payments-container-5 {
        display: block;
        min-height: auto;
    }

    #payments-container-6 {
        display: block;
        min-height: auto;
    }

    #payments-container-3 h1 {
        text-align: center;
    }

    #payments-container-4 h1 {
        text-align: center;
    }

    .calendar-text {
        margin-top: 40px;
        margin-left: 0;
        line-height: 17px;
        height: 56px;
        font-size: 18px;
    }

    #calendar-text-list {
        margin-top: 0;
        margin-left: 45px;
    }

    #calendar-number-list {
        margin-top: 0;
        margin-left: 0;
    }

    .tittle-calendar {
        text-align: center;
        position: relative;
        margin-left: 0;
    }

    .tittle-calendar h1 {
        font-size: 32px !important;
    }

    #calendar-open-banking {
        background: none;
        display: inline;
    }

    .yuwork-equip {
        height: 245px;
        position: relative;
        margin-top: 60px;
        margin-bottom: 85px;
        width: 260px;
    }

    #winny-pina {
        margin-left: 230px;
    }

    #thamara-pina {
        margin-left: 230px;
    }

    #fernando-borelli {
        margin-left: 230px;
    }

    .front-equip {
        height: 235px;
        position: relative;
        margin-top: 61px;
        margin-bottom: 75px;
        width: 260px;
    }

    #walter-pina {
        margin-left: 230px;
    }

    #desenvolvedores {
        margin-left: 230px;
    }

}

@media screen and (max-width:574px) {
    .title-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
        margin-bottom: 25px;
        margin-left: 88px;
    }

    #calendar-desktop {
        display: none;
    }

    #calendar-mobile {
        display: block;
        width: 100%;
    }

    #evolution-desktop {
        display: none;
    }

    #team-desktop {
        display: none;
    }

    #section-desktop {
        display: none;
    }

    #team-mobile {
        display: block;
        width: 100%;
    }

    #evolution-mobile {
        display: block;
        width: 100%;
    }

    .pix-img {
        display: none;
    }

    #desktop-pix {
        display: none;
    }

    #mobile-pix {
        display: block;
        width: 100%;
    }

    #help-desktop {
        display: none;
    }

    #help-mobile {
        display: block;
        width: 100%;
    }

    #img-pontos {
        width: 100%;
        height: auto;
    }

    #lista-de-pontos-positivos li * {
        position: relative;
        margin: unset;
        text-align: center;
        width: 100%;
    }

    ul#lista-de-pontos-positivos li {
        display: block;
        text-align: center;
        padding: 30px;
    }


    #lista-de-pontos-positivos li img {
        height: auto;
        width: 30%;
    }

    #lista-de-pontos-positivos li h6 {
        font-size: 1.9em;
    }

    #lista-de-pontos-positivos li>div p {
        font-size: 20px;
    }

    #tittle-pix {
        flex: auto;
        height: auto !important;
    }

    ul#lista-de-pontos-positivos {
        padding: 0;
    }

    * {
        word-break: break-all;
    }

    .img-pix {
        margin-top: 70px;
        display: none;
    }

    .pixline {
        position: absolute;
        height: 370px;
        margin-left: 50px;
        margin-top: -26px;
        display: none;
    }

    .subtittle-pix {
        text-align: center;
    }

    #possibilidade-one {
        margin-top: 10px;
        width: 590px;
        flex: auto;
    }

    #possibilidade-two {
        margin-top: 0px;
        width: 550px;
    }

    .possibilities p {
        text-align: center;
        font-size: 30px;
        color: #33bdaa;
        height: 28px;
    }

    #secao-inicial .col-4 {
        width: 100%;
        margin-bottom: -5% !important;
    }

    .help-work {
        width: 100%;
    }

    #help {
        background: none;
        height: auto;
    }

    #agenda-evolutiva li * {
        position: relative;
        margin: unset;
        text-align: center;
        width: 100%;
    }

    ul#agenda-evolutiva li {
        display: block;
        text-align: center;
        padding: 30px;
        border: 3px dashed #34bdad;
    }

    #agenda-img {
        display: none;
    }

    #banking {
        position: relative !important;
    }

    #agenda-evolutiva li h6 {
        font-size: 1.3em;
    }

    #agenda-evolutiva li p {
        font-size: 0.8em;
    }

    #img-cases {
        background: url(images/Cases.png);
        background-size: cover;
        padding-bottom: 7%;
        justify-content: start !important;
    }

    .tittle-cases {
        position: relative;
        color: #fff;
        text-align: start;
        margin-top: 0;
        font-size: 50px;

    }

    .centro-cases {
        position: relative;
        color: #fff;
        width: 66%;
        margin-top: 0;
        font-size: 16px;
        margin-right: 0;
    }

    .farm-drog {
        display: inline;
    }

    .farm-cenary,
    .farm-buy {
        display: block;
    }

    .farm-cenary img {
        position: relative;
        filter: invert(1);
        height: 40px;
        margin-top: 40px;
        left: 45%;
    }

    .farm-cenary h4,
    .farm-buy h4 {
        text-align: center;
        margin-top: 17px;
        font-size: 25px;
        color: #fff;
    }

    .farm-cenary p,
    .farm-buy p {
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    img.seta-direita {
        display: none;
    }

    img.seta-esquerda {
        display: none;
    }

    #col-farm-drog {
        width: 100%;
        display: block;
    }

    #farm-desktop {
        display: none;
    }

    .farm-buy img {
        position: relative;
        filter: invert(1) !important;
        height: 50px;
        bottom: 0;
        left: 45%;
    }

    #text-banking {
        flex: auto !important;
    }

    div#text-baking {
        display: grid !important;
    }

    .banking-cenary,
    .banking-buy {
        display: block;
    }

    #open-banking-container {
        display: block;
    }

    #banking-desktop {
        display: none;
    }

    .banking-cenary img {
        position: relative;
        filter: invert(1);
        height: 40px;
        margin-top: 40px;
        left: 45%;
    }

    .banking-buy img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 50px;
        margin-top: 40px;
    }

    .banking-cenary h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 15px;
        color: #fff;
    }

    .banking-buy h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 15px;
        color: #fff;
    }

    .subtittle-payments {
        position: relative;
        margin-top: 0;
        color: black;
        width: 90%;
    }

    .obs-payments {
        position: relative;
        margin-top: 0;
        color: black;
    }

    .img-payments {
        height: 100%;
        width: 100%;
        margin-left: 0;
    }

    #payments-container {
        display: block;
        min-height: auto;
    }

    #payments-container-2 {
        display: block;
        min-height: auto;
    }

    #payments-container-3 {
        display: block;
        min-height: auto;
    }

    #payments-container-4 {
        display: block;
        min-height: auto;
    }

    #payments-container-5 {
        display: block;
        min-height: auto;
    }

    #payments-container-6 {
        display: block;
        min-height: auto;
    }

    #payments-container-3 h1 {
        text-align: center;
    }

    #payments-container-4 h1 {
        text-align: center;
    }

    .calendar-text {
        margin-top: 40px;
        margin-left: 0;
        line-height: 17px;
        height: 56px;
        font-size: 18px;
        width: 100%;
    }

    #calendar-text-list {
        margin-top: 0;
        margin-left: 0;
    }

    #calendar-number-list {
        margin-top: 0;
        margin-left: 0;
        width: 20%;
    }

    .calendar-number {
        width: 100%;
    }

    .tittle-calendar {
        text-align: center;
        position: relative;
        margin-left: 0;
        width: 100%;
    }

    .tittle-calendar h1 {
        font-size: 32px !important;
    }

    #calendar-open-banking {
        background: none;
        display: inline;
    }

    .yuwork-equip {
        height: 245px;
        position: relative;
        margin-top: 60px;
        margin-bottom: 85px;
        width: 260px;
    }

    #winny-pina {
        margin-left: 100px;
    }

    #thamara-pina {
        margin-left: 100px;
    }

    #fernando-borelli {
        margin-left: 100px;
    }

    .front-equip {
        height: 235px;
        position: relative;
        margin-top: 61px;
        margin-bottom: 75px;
        width: 260px;
    }

    #walter-pina {
        margin-left: 100px;
    }

    #desenvolvedores {
        margin-left: 85px;
    }

    #thanks-mobile {
        display: block;
        width: 100%;
    }

    #thanks-desktop {
        display: none;
    }
}

@media screen and (min-width: 821px) and (max-width: 1280px) {

    #help-mobile {
        display: none;
    }

    #calendar-mobile {
        display: none;
    }

    #team-mobile {
        display: none;
    }

    #evolution-mobile {
        display: none;
    }

    .pix-img {
        height: 316px;
        position: absolute;
        margin-top: 172px;
        margin-left: 286px;
    }

    .pix-foguete {
        height: 93px;
        position: absolute;
        margin-top: 230px;
        margin-left: 205px;
    }

    .pix-dolar {
        height: 93px;
        position: absolute;
        margin-top: 125px;
        margin-left: 302px;
    }

    .pix-porquinho {
        height: 93px;
        position: absolute;
        margin-top: 62px;
        margin-left: 465px;
    }

    .pix-atomo {
        height: 93px;
        position: absolute;
        margin-top: 125px;
        margin-left: 658px;
    }

    .pix-puzzle {
        height: 93px;
        position: absolute;
        margin-top: 230px;
        margin-left: 750px;
    }

    .pix-alavancar {
        text-align: end;
        width: 385px;
        position: absolute;
        margin-top: 340px;
        margin-left: -90px;
    }

    .pix-custo {
        text-align: end;
        width: 300px;
        position: absolute;
        margin-top: 118px;
        margin-left: 0px;
    }

    .pix-incentivar {
        width: 487px;
        position: absolute;
        margin-top: 4px;
        margin-left: 503px;
    }

    .pix-promover {
        width: 300px;
        position: absolute;
        margin-top: 130px;
        margin-left: 750px;
    }

    .pix-preencher {
        width: 345px;
        position: absolute;
        margin-top: 330px;
        margin-left: 720px;
    }

    #cell-pix {
        display: flex;
        height: 380px;
    }

    .img-pix {
        margin-top: 0px;
    }

    .possibilities p {
        margin-left: -268px;
    }

    .pixline {
        margin-left: -290px;
        width: 95%;
    }

    #possibilidade-one {
        margin-left: -230px;
    }

    .help-work {
        width: 97%;
    }

    .ux-evolution {
        margin-top: -256px;
        margin-left: -47px;
    }

    .ux-trimestre {
        margin-top: -70px;
        margin-left: 23px;
    }

    .pix-evolution {
        margin-top: -190px;
        margin-left: 136px;
        font-size: 16px;
    }

    .pix-trimestre {
        margin-top: -32px;
        margin-left: 191px;
    }

    .iniciador-evolution {
        margin-top: -296px;
        margin-left: 308px;
    }

    .iniciador-trimestre {
        margin-top: -112px;
        margin-left: 366px;
    }

    .mecanismo-evolution {
        margin-top: -232px;
        margin-left: 478px;
    }

    .mecanismo-trimestre {
        margin-top: -80px;
        margin-left: 537px;
    }

    .cobranca-evolution {
        margin-top: -343px;
        margin-left: 656px;
    }

    .cobranca-trimestre {
        margin-top: -150px;
        margin-left: 713px;
    }

    .new-evolution {
        margin-top: -272px;
        margin-left: 833px;
    }

    .new-trimestre {
        margin-top: -115px;
        margin-left: 893px;
    }

    .debito-evolution {
        margin-top: -350px;
        margin-left: 990px;
    }

    .debito-trimestre {
        margin-top: -210px;
        margin-left: 1055px;
    }

    img.seta-direita {
        position: absolute;
        height: 33%;
        width: 8%;
        margin-left: -1%;
    }

    img.seta-esquerda {
        height: 100.5%;
        width: 16%;
        margin-left: 86.2%;
    }

    .farm-cenary img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 40px;
        margin-top: 40px;
    }

    .farm-cenary h4,
    .farm-buy h4 {
        display: block;
        text-align: center;
        margin-top: 10px;
        font-size: 15px;
        color: #fff;
    }

    .farm-buy img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 50px;
        margin-top: 40px;
    }


    .banking-cenary img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 40px;
        margin-top: 20px;
    }

    #banking-desktop {
        width: 100%;
    }

    .banking-cenary h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 15px;
        color: #fff;
    }

    .banking-buy img {
        position: relative;
        filter: invert(1);
        left: 45%;
        height: 50px;
        margin-top: 20px;
    }

    .banking-buy h4 {
        display: block;
        text-align: center;
        margin-top: 0;
        font-size: 15px;
        color: #fff;
    }

    #payments-container {
        padding: 0;
    }

    #mobile-pix {
        display: none;
    }

    .text-payments {
        width: 100%;
        padding: 0;
    }

    .img-payments {
        height: auto;
        width: 100%;
        margin-left: -10px;
    }

    .tittle-calendar {
        text-align: center;
        width: 100%;
        position: absolute;
        margin-left: 0;
    }

    #calendar-number-list {
        margin-top: 210px;
        margin-left: 45px;
        width: 6%;
        padding: 0;
    }

    #calendar-text-list {
        margin-top: 210px;
    }

    .calendar-text {
        margin-top: 30px;
        margin-left: 0;
        line-height: 20px;
        width: 51%;
    }

    .logo-team {
        height: 50px;
        position: absolute;
        margin-top: 0;
        margin-left: -45%;
    }

    #winny-pina {
        margin-left: 12%;
    }

    #thamara-pina {
        margin-left: 36%;
    }

    #fernando-borelli {
        margin-left: 61%;
    }

    #walter-pina {
        margin-left: 24%;
    }

    #desenvolvedores {
        margin-left: 47%;
    }

    #thanks-mobile {
        display: none;
    }

}